@import "nativescript-theme-core/css/sky.css";
@import url("~/platform.css");

Page {
    background-color: white;
    font-size: 15;
}
TextField {
    padding: 10;
    font-size: 13;
}

.submit-button {
    background-color: #CB1D00;
    color: white;
    margin-top: 20;
  }